*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.MainContainer{
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
  background-image: url("./BgImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* header section */

.headerSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.AboutSection{
  display: flex;
  flex-direction: row;
  flex: auto;
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
}

.navbar-nav{
  justify-content: center;
  align-items: center;
  margin-left: 51%;
}
.nav-item{
  margin-left: 10%;
  font-size: 1.5rem;
  font-weight: 450;
}


p {
  font-size: 3rem;
  font-weight: 500;
}
.textPart {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10%;
  padding-left: 2%;
}
.container {
  display: flex;
  height: 40vh;
  width: 50%;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.animation {
  height: 140px;
  width: 50%;
  margin-right: 25%;
  margin-top: 5%;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.first div {
  background-color: #20a7d8;
  font-size: 2.26rem;
}

.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.aboutMe {
  display: flex;
  padding-left: 10%;
  width: 100%;
  margin-top: 4%;
  margin-left: 5%;
}
#button{
  display: flex;
  margin-left: 25px;
}

.socialCircle {
  height: 10%;
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 15%;
}

.logoAnchor {
  height: 100%;
  width: 25%;
}

.logo {
  height: 150%;
  width: 70%;
  border-radius: 50%;
}
.avatarPart {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7%;
}

.avatar {
  border-radius: 50%;
  width: 37vw;
  height: 80vh;
}

/* About Section */

.About-Section{
  display: flex;
  width: 100%;
  height: 80vh;
  border: 1px  solid red;
}
.aboutAvatar{
  display: flex;
  height: 100%;
  width: 50%;
}
#aboutAvatar{
  border-radius: 50%;
  height: 40%;
  width: 30%;
  margin-top: 10px;
  margin-left: 100px;
}
.About-part{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
#aboutTextPart{
  font-weight: 400;
  font-size: 2rem;
  color: rgb(86, 82, 82);
  margin-top: 3%;
}
.ProfilePart{
  height: 45%;
  color: white;
  margin-top: 2%;
}